In [1]:
import numpy as np; import pandas as pd; import pdpipe as pdp;

In [18]:
tdf = pd.DataFrame({'a': ['a','b','c','d'], 'b':[5,6,7,1]})

In [11]:
pline = pdp.PdPipeline([
    pdp.ApplicationContextEnricher(
        numeric_means=lambda df: df.select_dtypes(include=np.number).mean().to_dict(),
    ),
    pdp.ApplyByCols(
        columns=pdp.cq.OfNumericDtypes(),
        func=lambda x, label, application_context: 'DROP' if x < application_context['numeric_means'][label] else x,
    ),
    pdp.ValDrop(['DROP']),
])

In [13]:
pline(tdf)

   a  b
0  a  5
1  b  6
2  c  7

In [23]:
pline2 = pdp.PdPipeline([
    pdp.ColByFrameFunc(
        column='b',
        func=lambda df: tdf['b'].apply(lambda x: 'DROP' if x < tdf['b'].mean() else x)
    ),
    pdp.ValDrop(['DROP']),
])

In [24]:
pline2(tdf)

   a  b
0  a  5
1  b  6
2  c  7

In [19]:
tdf['b'].apply(lambda x: 'DROP' if x < tdf['b'].mean() else x)

0       5
1       6
2       7
3    DROP
Name: b, dtype: object

In [15]:
tdf['b'][0]

5